[Unit]
Description=db (from compose service db)

[Container]
ContainerName=db
Image=docker.io/library/postgres:16
Volume=data.volume:/var/lib/postgresql/data
Volume=shared:/shared
Network=networks-backend.network:ip=10.99.0.10

[Service]
Restart=no

[Install]
WantedBy=default.target
